{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<form action="" method="POST">

<h1>{{ action }}</h1>
    {% if form.id.data != '' %}
        {{ form.id()  }}
    {% endif %}
    {{ form.hidden_tag() }}
    <input type="hidden" name="profiles" value="{{ profiles }}">
     {{ wtf.form_field(form.name) }}

<table class="table" id="settings">
    <thead>
        <tr class="header">
            <th scope="row">{{ _('#') }}</th>
            <th scope="row">{{ _('Hostname') }}</th>
            <th scope="row">{{ _('Profile') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in form.settings %}
    <tr class="task-setting">
    {% set hostname_error = item.errors.get('hostname') %}
    {% set profile_error = item.errors.get('profile') %}
        <th>{{ loop.index }}</th>
        <td>
            {{ item.hostname(class='form-control') }}
            {% if hostname_error %}<div class="alert alert-warning">{{ hostname_error | join('<br>') }}</div>{% endif %}
        </td>
        <td>
            {{ item.profile(class='form-control') }}
            {% if profile_error %}<div class="alert alert-warning">{{ profile_error }}</div>{% endif %}
        </td>
        <td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="{{ _('Delete') }}"></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: left;">
                <input type="button" class="btn btn-lg btn-block " id="addrow" value="{{ _('Add Row') }}" />
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
</table>
    {{ form.submit(class='btn btn-primary') }}

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    var counter = 1;
    $('.task-setting').each(function (index) {
        ++counter;
    });

    var delete_text = '{{ _("Delete") }}';

    var json = $('input[name="profiles"]').first().val();
    var profile_list = JSON.parse(json);

    $("#addrow").on("click", function () {
        var newRow = $("<tr class='task-setting'>");
        var cols = "";
        var rowName = 'settings-' + counter + '-';

        cols += '<th scope="row">' + counter + '</th>';
        cols += '<td><input type="text" name="' + rowName +
            'hostname" id="' + rowName + 'hostname" class="form-control"></td>';
        cols += '<td><select name="' + rowName + 'profile"' +
            ' id="' + rowName + 'profile" class="form-control">';

        profile_list.forEach(function (value) {
            cols += '<option value="' + value.id + '">' + value.name + '</option>'
        });
        cols += '</select></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="' + delete_text +'"></td>';

        newRow.append(cols);
        newRow.append("</tr>");
        $("#settings").append(newRow);
        counter++;
    });

    $('table[id="settings"]').on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();
        counter -= 1
    });
});
</script>
{% endblock %}
