{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
.progress {
    position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
</style>

{% endblock %}

{% block app_content %}

<form action="{{ url_for('delete_tasks') }}" method="POST">
    <div class="row row-horizont">
        <div class="input-group">
            <a href="{{ url_for('create_task') }}" class="btn btn-primary">Create</a>
            <input type="submit" class="btn btn-danger" value="Delete">
        </div>
    </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td class="col-md-1"><input type="checkbox" name="tasks_ids[]" value="{{ task.id }}"></td>
        <th class="col-md-1" scope="row">{{ loop.index }}</th>
        <td class="col-md-5"><a href="{{ url_for('edit_task', task_id=task.id) }}">{{ task.name }}</a></td>
        <td class="col-md-3" id="progressbar-{{ task.id }}"></td>
        <td class="col-md-2">
            {% if task.status.name=='Idle' %}
                <button id="{{ task.id }}" class="btn startbtn btn-info" type="button">Run</button>
            {% else %}
                <button id="{{ task.id }}" class="btn stopbtn btn-warning" type="button">Stop</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='task_management.js') }}"></script>
{% endblock %}
