{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
.progress {
    position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
</style>

{% endblock %}

{% block app_content %}

<form action="{{ url_for('delete_tasks') }}" method="POST">
    <div class="row row-horizont">
        <div class="input-group">
            <a href="{{ url_for('create_task') }}" class="btn btn-primary">{{ _('Create') }}</a>
            <input type="submit" class="btn btn-danger" value="{{ _('Delete') }}">
        </div>
    </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th scope="col">{{ _('#') }}</th>
        <th scope="col">{{ _('Name') }}</th>
        <th scope="col">{{ _('Status') }}</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td class="col-md-1"><input type="checkbox" name="tasks_ids[]" value="{{ task.id }}"></td>
        <th class="col-md-1" scope="row">{{ loop.index }}</th>
        <td class="col-md-5"><a href="{{ url_for('edit_task', task_id=task.id) }}">{{ task.name }}</a></td>
        <td class="col-md-3" id="progressbar-{{ task.id }}"></td>
        <td class="col-md-2">
            {% if task.status.name=='Idle' %}
                <button id="{{ task.id }}" class="btn startbtn btn-info" type="button">{{ _('Run') }}</button>
            {% else %}
                <button id="{{ task.id }}" class="btn stopbtn btn-warning" type="button">{{ _('Stop') }}</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    var stop_text = '{{ _("Stop") }}';
    var run_text = '{{ _("Run") }}';

    function start_to_stop(obj) {
        obj.toggleClass('startbtn stopbtn');
        obj.toggleClass('btn-info btn-warning');
        obj.html(stop_text);
        obj.unbind('click').click(stop_function);
    }

    function stop_to_start(obj) {
        obj.toggleClass('stopbtn startbtn');
        obj.toggleClass('btn-warning btn-info');
        obj.html(run_text);
        obj.unbind('click').click(start_function);
    }

    function update_progressbar(id, progress) {
        var td_progress = $("#progressbar-" + id).first();
        var percents = Math.floor((progress.current / progress.total) * 100);
        var message = `<span>${progress.current} of ${progress.total}</span>`;
        td_progress.html(
            "<div class=\"progress\">\n" +
            "  <div class=\"progress-bar bg-info\" role=\"progressbar\" style=\"width: "
            + percents + "%\" aria-valuenow=\"" + progress.current
            + "\" aria-valuemin=\"0\" aria-valuemax=\"" + progress.total + "\">"
            + message + "</div>\n</div>"
        )
    }

    function delete_progessbar(id) {
        var td_progress = $("#progressbar-" + id).first();
        td_progress.html("")
    }

    var start_function = function () {
        var obj = $(this);
        $.ajax({
            type: "PUT",
            url: '/task/execute/' + this.id,
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({"status": "Wait"})
        }).done(function (data) {
            start_to_stop(obj);
        }).fail(function (data) {
            alert('bad ' + data.responseText);
        });
    };

    var stop_function = function () {
        var obj = $(this);
        $.ajax({
            type: "PUT",
            url: '/task/execute/' + this.id,
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify({"status": "Idle"})
        }).done(function (data) {
            stop_to_start(obj);
        }).fail(function (data) {
            alert('bad ' + data.responseText);
        });

    };

    $(".startbtn").click(start_function);
    $(".stopbtn").click(stop_function);
    setInterval(function () {
        $('.stopbtn').each(function () {
            var obj = $(this);
            $.getJSON('/task/execute/' + this.id).done(
                function (data) {
                    console.log(data);
                    if (data.status === 'Idle') {
                        stop_to_start(obj);
                        delete_progessbar(data.task_id);
                    }
                    else if (data.status === 'Running') {
                        update_progressbar(data.task_id, data.progress);
                    }
                }
            );
        })
    }, 100)
});
</script>
{% endblock %}
