{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ action }}</h1>
    <form action="" method="post">
        {% if form.id.data != '' %}
            {{ form.id() }}
        {% endif %}
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.name) }}
        </p>
        <div class="container">
        <h3>{{ _('Transport settings') }}</h3>
            <div class="row">
                <ul class="nav nav-pills nav-stacked col-md-3">
                  <li class="active"><a data-toggle="tab" href="#ssh">SSH</a></li>
                  <li><a data-toggle="tab" href="#unix">Unix</a></li>
                  <li><a data-toggle="tab" href="#postgres">PostgreSQL</a></li>
                </ul>
                <div class="tab-content col-md-6">
                  <div id="ssh" class="tab-pane fade in active">
                      {{ form.ssh_settings.hidden_tag() }}
                      {{ wtf.form_field(form.ssh_settings.port) }}
                      {{ wtf.form_field(form.ssh_settings.credential) }}
                  </div>
                  <div id="unix" class="tab-pane fade">
                      {{ form.unix_settings.hidden_tag() }}
                      {{ wtf.form_field(form.unix_settings.privilege_escalation) }}
                      {{ wtf.form_field(form.unix_settings.root_password) }}
                  </div>
                  <div id="postgres" class="tab-pane fade">
                      {{ form.postgres_settings.hidden_tag() }}
                      {{ wtf.form_field(form.postgres_settings.port) }}
                      {{ wtf.form_field(form.postgres_settings.credential) }}
                      {{ wtf.form_field(form.postgres_settings.dbname) }}
                  </div>
                </div>
            </div>
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}
