<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.TITLE }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('tasks') }}">Scanning</a>
                </li>
                <li>
                    <a href="{{ url_for('credentials') }}">Credentials</a>
                </li>
                <li>
                    <a href="{{ url_for('scan_profiles') }}">Scan profiles</a>
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Scan results</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
