{% extends "main_interface.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Run task</h1>

<div class="row">
    <div class="col-md-12">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% if result_list %}
<table width="100%">
    <tr>
        <th>Номер контроля</th>
        <th>Статус</th>
        <th>Результат</th>
    </tr>
    {% for item in result_list %}
    <tr>
        <td width="15%">{{ item.control.number }}</td>
        <td width="15%">{{ item.control.status }}</td>
        <td>{{ item.result | replace('\n', '<br>') | safe }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
